<%- include('header'); -%>
 <div class="content">
  <h1 id="welcome">Contacts</h1>
  <table>
    <tr>
      <th>Name</th>
      <th>Number</th>
      <th>Address</th>
    </tr>
    <tr>
      <td>Mary J. Thomas</td>
      <td>804-278-4744</td>
      <td>45 Coulter Lane</td>
    </tr>
    <tr>
      <td>Kai Little</td>
      <td>440-781-8953</td>
      <td>47 Marshville Road</td>
    </tr>
    <tr>
      <td>Imogen Barry</td>
      <td>608-410-3340</td>
      <td>47 Lauren Drive</td>
    </tr>
    <tr>
      <td>William Mitchell</td>
      <td>713-472-4800</td>
      <td>18 Monroe Street</td>
    </tr>
  </table>
 </div><br>
<%- include('footer'); -%>